/* ------ GENERAL --------- */

:root
{
    --main-color: #A71919;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    font-family: sans-serif;
}

h1, nav, nav ul li a, .flex-c b
{
    color: var(--main-color);
}

h1, h2, h3
{
    text-align: center;
}

h1
{
    font-size: 3.4rem;
}

h3
{
    font-size: 2rem;
}

a
{
    text-decoration: none;
}

nav
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
    border-bottom: 0.1rem solid;
}

nav div
{
    display: inline-block;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

nav ul li
{
    display:inline;
    padding: 0.5rem 1rem;
}

nav ul li a
{
    font-size: 1.6rem;
    font-weight: bold;
}

nav figure
{
    display: flex;
    align-items: center;
}

main
{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

header
{
    margin: 5% 10%;
}

/* ------ INDEX --------- */

.main-index
{
    width: 90%;
    position: relative;
    margin: 5% 0%;
}

.main-index > img
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.main-index-in
{
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-index-in > a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color: var(--main-color);
	border-radius:15px;
	border:1px solid #ffffff;
	display:inline-block;
    color: white;
	padding:12px 20px;
	text-decoration:none;
    font-weight: bold;
	text-shadow:0px 1px 0px #b23e35;
}

.main-index-in > h1
{
    color: black;
}

.sec-index
{
    width: 60%;
    position: relative;
}

.sec-index > img
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.sec-index-in
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 5%;
    gap: 1rem;
}

/* ------ ABOUT --------- */

.flex-row
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 5%;
    gap: 8rem;
}

.flex-col
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 1rem;
}

.flex-col > div
{
    padding-left: 1.5rem;
}

.img-about
{
    width: 20vw;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

/* ------ CONTACT --------- */

.main-index-in-simple
{
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.sec-contact
{
    width: 90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ------ AVAILABLE SERVICES --------- */

main.container-flex
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
}

main.container-flex > div
{
    display: flex;
    justify-content: center;
}

table
{
    width: 90%;
    border-collapse: collapse;
}

th
{
    background-color: #ce8080;
    border: 0.1rem solid white;
    padding: 0.5rem 1rem;
}

td
{
    border: 0.1rem solid var(--main-color);
    padding: 0.5rem 1rem;
}

tr:nth-child(even)
{
    background-color: #f5d0d0;
}

/* ------ SERVICES --------- */

.flex-row-services
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8%;
}

.flex-col-services
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    gap: 3rem;
}

.img-services
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.tab-s
{
    margin-left: 1.2rem;
}

.col40
{
    width: 40%;
    display:flex;
    justify-content: center;
}

.col60
{
    width: 60%;
    display:flex;
    justify-content: center;
}

.test
{
    padding: 2.5rem;
    -webkit-box-shadow: inset 0px 0px 25px 2px rgba(167,25,25,0.75);
    -moz-box-shadow: inset 0px 0px 25px 2px rgba(167,25,25,0.75);
    box-shadow: inset 0px 0px 25px 2px rgba(167,25,25,0.75);
}
