/* ------ GENERAL --------- */

:root
{
    --main-color: #A71919;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    font-family: sans-serif;
}

h1, h2, h3, nav, nav ul li a, .flex-c b
{
    color: var(--main-color);
}

h1, h2, h3
{
    text-align: center;
}

h1
{
    font-size: 3.4rem;
}

h3
{
    font-size: 2rem;
}

a
{
    text-decoration: none;
}

nav
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
    border-bottom: 0.1rem solid;
}

nav div
{
    display: inline-block;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

nav ul li
{
    display:inline;
    padding: 0.5rem 1rem;
}

nav ul li a
{
    font-size: 1.6rem;
    font-weight: bold;
}

nav figure
{
    display: flex;
    align-items: center;
}

main
{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-align:left;
}

header
{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
}

main > div
{
    margin: 2rem 6rem;
    /*display: flex;
    justify-content: center;*/
}

/* used in index and contact */

.responsive-banner
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.flex-c
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-c > figure
{
    margin-bottom: 4rem;
}

/* ------ INDEX --------- */

.col50
{
    width: 50%;
    display:flex;
    justify-content: center;
}

/* ------ ABOUT --------- */

.flex-r-center
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.gap-about
{
    gap: 1.5rem;
}

.flex-r-center > div
{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.col40
{
    width: 40%;
    display:flex;
    justify-content: center;
}

.col60
{
    width: 60%;
    display:flex;
    justify-content: center;
}

.img-about
{
    width: 100%;
    max-width: 30vh;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

/* ------ CONTACT --------- */

.flex-c-sb
{
    display: flex;
    justify-content: space-between;
}

.flex-cl
{
    display:flex;
    flex-direction: column;
}

.width80vw
{
    width: 80vw;
    gap: 2rem;
}
