/* ------ GENERAL --------- */

:root
{
    --main-color: #A71919;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
    font-family: sans-serif;
}

h1, h2, h3, nav, nav ul li a, .flex-c b
{
    color: var(--main-color);
}

h1, h2, h3
{
    text-align: center;
}

h1
{
    font-size: 3.4rem;
}

h3
{
    font-size: 2rem;
}

a
{
    text-decoration: none;
}

nav
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
    border-bottom: 0.1rem solid;
}

nav div
{
    display: inline-block;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

nav ul li
{
    display:inline;
    padding: 0.5rem 1rem;
}

nav ul li a
{
    font-size: 1.6rem;
    font-weight: bold;
}

nav figure
{
    display: flex;
    align-items: center;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    font-size: 1.4rem;
    text-align:left;
    margin: 0% 8%;
}

header
{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0rem 2rem;
}

/* used in index and contact */

.responsive-banner
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.flex-c
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-c > figure
{
    margin-bottom: 4rem;
}

/* ------ INDEX --------- */

.col50
{
    width: 50%;
    display:flex;
    justify-content: center;
}

/* ------ ABOUT --------- */

.flex-r-center
{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.gap-about
{
    gap: 1.5rem;
}

.flex-r-center > div
{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.col40
{
    width: 40%;
    display:flex;
    justify-content: center;
}

.col60
{
    width: 60%;
    display:flex;
    justify-content: center;
}

.img-about
{
    width: 100%;
    max-width: 30vh;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

/* ------ CONTACT --------- */

.flex-c-sb
{
    display: flex;
    justify-content: space-between;
}

.flex-col
{
    display:flex;
    flex-direction: column;
}

.width80vw
{
    width: 80vw;
    gap: 2rem;
}

/* ------ PRICES --------- */

main.container-flex
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    align-items: center;
}

main.container-flex > div
{
    display: flex;
    justify-content: center;
}

table
{
    width: 90%;
}

table, th, td
{
    border: 1px solid white;
    border-collapse: collapse;
}

th, td
{
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

th
{
    background-color: var(--main-color);
    color: white;
}

tbody > tr
{
    border-bottom: 0.11rem solid gray;
}

tr:hover
{
    background-color: #eabdcc;
}

.text-center
{
    text-align: center;
}

/* ------ SERVICES --------- */

.flex-row-services
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8%;
}

.flex-col-services
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    gap: 1.5rem;
}

.img-services
{
    width: 100%;
    height: auto;

    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
}

.tab-s
{
    margin-left: 1.2rem;
}

/* ------ WIN SHIRT --------- */

div.winShirt
{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

div.images
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 10%;
}

div.div-form
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

div.radio-opts-r
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

div.radio-opt-r
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

div.radio-opts-c
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

div.radio-opts-c2
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

div.radio-opts-c3
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0% 2%;
}

form.form-esp
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 2%;
}

form > div
{
    display: flex;
    flex-direction: row;
}

.row-form
{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.row-form-radio
{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.terms-check
{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem 0rem;
}

.div-form > input, select
{
    width: 60%;
}

.btn-send
{
    display: flex;
    justify-content: center;
}

iframe
{
    width: 100%;
    height: 75vh;
    margin-bottom: 8%;
}

/* ------ EXTRA --------- */

.div-spform
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #b9b9b9;
    background-color: #e3e3e3;
}

div.winShirt-esp
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
}

h4 {
    color: #f0a500;
  }
  input.input-spform,
  input.input-spform[type="radio"] + label.label-spform,
  input.input-spform[type="checkbox"] + label.label-spform:before,
  select.select-spform option.option-spform,
  select.select-spform {
    width: 100%;
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  input.input-spform:focus {
    outline: 0;
    border-color: #bd8200;
  }
  input.input-spform:focus + .input-icon i {
    color: #f0a500; /**/
  }
  input.input-spform:focus + .input-icon:after {
    border-right-color: #f0a500;
  }
  input.input-spform[type="radio"] {
    display: none;
  }
  input.input-spform[type="radio"] + label.label-spform {
    display: inline-block;
    width: 50%;
    text-align: center;
    float: left;
    border-radius: 0;
  }
  select.select-spform { /* new style - separated */
    display: inline-block;
    text-align: center;
    border-radius: 0;
    color: #6d6c6c; /* new style */
  }
  input.input-spform[type="radio"] + label.label-spform:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  input.input-spform[type="radio"] + label.label-spform:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  input.input-spform[type="radio"] + label.label-spform i {
    padding-right: 0.4em;
  }
  input.input-spform[type="radio"]:checked + label.label-spform,
  input.input-spform:checked + label.label-spform:before,
  select.select-spform:focus,
  select.select-spform:active {
    background-color: #f0a500;
    color: #fff;
    border-color: #bd8200;
  }
  input.input-spform[type="checkbox"] {
    display: none;
  }
  input.input-spform[type="checkbox"] + label.label-spform {
    position: relative;
    display: block;
    padding-left: 1.6em;
  }
  input.input-spform[type="checkbox"] + label.label-spform:before {
    position: absolute;
    top: 0.2em;
    left: 0;
    display: block;
    width: 1em;
    height: 1em;
    padding: 0;
    content: "";
  }
  input.input-spform[type="checkbox"] + label.label-spform:after {
    position: absolute;
    top: 0.45em;
    left: 0.2em;
    font-size: 0.8em;
    color: #fff;
    opacity: 0;
    font-family: FontAwesome;
    content: "\f00c";
  }
  input.input-spform:checked + label.label-spform:after {
    opacity: 1;
  }
  input.input-spform[type="button"] {
    width: 33%;
  }
  select.select-spform {
    height: 3.4em;
    line-height: 2;
  }
  select.select-spform:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  select.select-spform:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  select.select-spform:focus,
  select.select-spform:active {
    outline: 0;
  }
  select.select-spform option.option-spform {
    background-color: #f0a500;
    color: #fff;
  }
  .input-group {
    margin-bottom: 1em;
    zoom: 1;
  }
  .input-group:before,
  .input-group:after {
    content: "";
    display: table;
  }
  .input-group:after {
    clear: both;
  }
  .input-group-icon {
    position: relative;
  }
  .input-group-icon input.input-spform {
    padding-left: 4.4em;
  }
  .input-group-icon .input-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.4em;
    height: 3.4em;
    line-height: 3.4em;
    text-align: center;
    pointer-events: none;
  }
  .input-group-icon .input-icon:after {
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    left: 3.4em;
    display: block;
    border-right: 1px solid #e5e5e5;
    content: "";
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .input-group-icon .input-icon i {
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .container {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: 0em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }
  .row {
    zoom: 1;
  }
  .row:before,
  .row:after {
    content: "";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
  }
  .col-half:last-of-type {
    padding-right: 0;
  }
  .col-third {
    padding-right: 10px;
    float: left;
    width: 33.33333333%;
  }
  .col-third:last-of-type {
    padding-right: 0;
  }
  @media only screen and (max-width: 540px) {
    .col-half {
      width: 100%;
      padding-right: 0;
    }
  }

div.radio-opts-mod /* new style */
{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #b9b9b9;
}
